[submodule "OpenGLTestbench/vendor/imgui"]
	path = OpenGLTestbench/vendor/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "OpenGLTestbench/vendor/glm"]
	path = OpenGLTestbench/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "OpenGLTestbench/vendor/stb"]
	path = OpenGLTestbench/vendor/stb
	url = https://github.com/nothings/stb
